html, body {
    height: 100%;
    width: 100%;
}

body
{
    overflow: hidden;
}

#keyBinds
{
    font-size: 20px;
    position : absolute;
    bottom: 0;
    background-color: rgba(0,0,0, 0.6);
    color: ghostwhite;
    padding: 20px;
    border-radius: 0 20px 0 0;
}

#keyBinds td:first-child {
    width: 300px;
}

#keyBinds td:last-child {
    text-align: right;
}

#keyBinds p {
    margin-top: 20px;
    font-style: italic;
}