html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

.gui {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: ghostwhite;
    padding: 20px;
}

#infoFeed {
    display: none;
    font-size: 15px;
    right: 0;
    border-radius: 0 0 0 20px;
    max-height: 500px;
}

#keyBinds {
    font-size: 20px;
    bottom: 0;
    border-radius: 0 20px 0 0;
}

#keyBinds td:first-child {
    width: 300px;
}

#keyBinds td:last-child {
    text-align: right;
}

#keyBinds p {
    margin-top: 20px;
    font-style: italic;
}